.card {
  padding: 1.5rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid hsl(var(--accent-200));
  background-color: hsl(var(--accent-100));
}

.card :is(h2, h3, h4) {
  line-height: 1.3;
}

.card :is(h2, h3, h4) > a {
  color: inherit;
}
