.with-sidebar {
  --container-max: min(calc(100% - 2rem), 50em);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}
