body {
  font-family: var(--base-font);
  background-color: #f6f6f6;
  background: linear-gradient(
      35deg,
      hsl(0deg 0% 96% / 50%) 0%,
      hsl(180deg 3% 94% / 50%) 21%,
      hsl(140deg 8% 92% / 50%) 30%,
      hsl(144deg 10% 90% / 50%) 39%,
      hsl(142deg 13% 88% / 50%) 46%,
      hsl(142deg 15% 86% / 50%) 54%,
      hsl(140deg 19% 84% / 50%) 61%,
      hsl(140deg 23% 82% / 50%) 69%,
      hsl(141deg 25% 80% / 50%) 79%,
      hsl(141deg 29% 78% / 50%) 100%
    ),
    linear-gradient(
      70deg,
      hsl(0deg 0% 96% / 50%) 0%,
      hsl(30deg 7% 95% / 50%) 21%,
      hsl(36deg 14% 93% / 50%) 30%,
      hsl(30deg 22% 91% / 50%) 39%,
      hsl(28deg 31% 89% / 50%) 46%,
      hsl(31deg 38% 87% / 50%) 54%,
      hsl(30deg 46% 85% / 50%) 61%,
      hsl(29deg 54% 84% / 50%) 69%,
      hsl(31deg 61% 82% / 50%) 79%,
      hsl(30deg 69% 80% / 50%) 100%
    );
  color: #444;
  font-size: var(--step-0);
  line-height: 1.5;
}
:where(a, button, input, textarea, summary) {
  /* Using max() ensures at least a value of 2px, 
    while allowing the possibility of scaling 
    relative to the component */
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: hsl(var(--accent));
}
:where(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:where(a, button, input, textarea):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:where(a, button, input, textarea):focus:not(:focus-visible) {
  outline: none;
}
:where(a[class]) {
  text-decoration: none;
}
:where(a) {
  color: hsl(var(--accent-700));
  font-weight: 700;
}
:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
  font-family: var(--accent-font);
  line-height: 1;
}

:where(h1) {
  font-size: var(--step-4);
}

:where(h2) {
  font-size: var(--step-3);
}

:where(h3) {
  font-size: var(--step-2);
}

:where(h4) {
  font-size: var(--step-1);
}

ul[role="list"] {
  padding: 0;
  list-style-type: none;
}

ul li::marker {
  color: hsl(var(--primary));
}

ol li::marker {
  color: hsl(var(--accent-600));
}

.markdown :where(li) {
  margin-top: 0.5em;
}
