html {
  font-family: "Lato", system-ui, sans-serif;
  font-size: clamp(1rem, 5vmax, 1.2rem);
  background-color: #f6f6f6;
  line-height: 1.5;
}
:where(a, button, input, textarea, summary) {
  /* Using max() ensures at least a value of 2px, 
    while allowing the possibility of scaling 
    relative to the component */
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: hsl(var(--accent));
}
:where(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:where(a, button, input, textarea):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:where(a, button, input, textarea):focus:not(:focus-visible) {
  outline: none;
}

:where(a) {
  color: hsl(var(--accent-700));
  font-weight: 700;
}
:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
  font-family: "Calistoga", "Shrikhand", "Playfair Display", serif;
  line-height: 1;
}
