body {
  font-family: var(--base-font);
  background-color: #f6f6f6;
  color: #444;
  font-size: var(--step-0);
  line-height: 1.5;
}
:where(a, button, input, textarea, summary) {
  /* Using max() ensures at least a value of 2px, 
    while allowing the possibility of scaling 
    relative to the component */
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: hsl(var(--accent));
}
:where(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:where(a, button, input, textarea):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:where(a, button, input, textarea):focus:not(:focus-visible) {
  outline: none;
}

:where(a) {
  color: hsl(var(--accent-700));
  font-weight: 700;
}
:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
  font-family: var(--accent-font);
  line-height: 1;
}

:where(h1) {
  font-size: var(--step-4);
}

:where(h2) {
  font-size: var(--step-3);
}

:where(h3) {
  font-size: var(--step-2);
}

:where(h4) {
  font-size: var(--step-1);
}
