:root {
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7rem, calc(0.81rem + -0.13vw), 0.78rem);
  --step--1: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
  --step-2: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.22rem);
  --step-3: clamp(1.94rem, calc(1.59rem + 1.77vw), 2.96rem);
  --step-4: clamp(2.33rem, calc(1.77rem + 2.81vw), 3.95rem);
  --step-5: clamp(2.8rem, calc(1.94rem + 4.28vw), 5.26rem);

  --accent-font: "Playfair Display", serif;
  --base-font: "Inter", system-ui, sans-serif;

  /* color: #b7d7c2; */
  /* color: #fcfdfd; */

  --accent-100: 180 20% 99%;
  --accent-200: 141 29% 78%;
  --accent-300: 140 35% 61%;
  --accent-400: 140 44% 48%;
  --accent-500: 140 55% 38%;
  --accent-600: 140 69% 30%;
  --accent-700: 140 55% 22%;
  --accent-800: 140 44% 16%;
  --accent-900: 140 36% 12%;
  --accent-950: 140 27% 9%;
  --accent: var(--accent-600);

  --primary: 30 68% 80%;

  --gray-100: 0, 0%, 96%;

  --primary-hue: 30;
  --accent-hue: 140;

  --accent-gradient: linear-gradient(
    45deg,
    hsl(var(--accent)),
    hsl(var(--primary)) 30%,
    white 60%
  );

  --border-radius: 0.6rem;
}
