---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import CardList from "../../components/CardList.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  const uniqueTags = [
    ...new Set(recipes.map((recipe) => recipe.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredRecipes = recipes.filter((recipe) =>
      recipe.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { recipes: filteredRecipes },
    };
  });
}

const { tag } = Astro.params;
const { recipes } = Astro.props;
---

<Layout title={tag}>
  <div class="container">
    <header class="">
      <h1>Recipes filed under {tag}</h1>
    </header>
    <CardList listData={recipes} />
  </div>
</Layout>
