---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Tags from "../components/Tags.astro";
import Ingredients from "../components/Ingredients.astro";
import CardList from "../components/CardList.astro";

const recipes = await getCollection("recipes");

const tags = [
  ...new Set(
    recipes
      .filter((recipe) => (recipe.data.tags ? recipe : false))
      .map((recipe) => recipe.data.tags)
      .flat()
  ),
];

const ingredients = [
  ...new Set(
    recipes
      .filter((recipe) => (recipe.data.ingredient ? recipe : false))
      .map((recipe) => recipe.data.ingredient)
      .flat()
  ),
];
---

<Layout title="Vegan Home Cooking by Tiff & Laura">
  <header class="bg-pattern">
    <div class="container flow">
      <h1>Vegan Homecooking by Tiff & Laura</h1>

      <p class="text-step-1">
        A personal reference and chronicle for our favorite vegan original and
        adapted vegan recipes.
      </p>
    </div>
  </header>

  <section class="with-sidebar container">
    <div class="flow sidebar">
      <h2>Browse by category</h2>
      <Tags tags={tags} />
      <h2>Browse by main ingredient</h2>
      <Ingredients ingredients={ingredients} />
    </div>
    <div class="not-sidebar flow">
      <h2 id="recipes">Recipes</h2>
      <CardList listData={recipes} />
    </div>
  </section>
</Layout>
