<header class="bg-accent-200">
  <a href="/">Vegan Home Cooking<br /><span>by Tiff & Laura</span></a>
  <nav>
    <a href="/#recipes">Recipes</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-image: linear-gradient(
      60deg,
      hsl(141deg 29% 78%) 0%,
      hsl(146deg 28% 80%) 35%,
      hsl(150deg 27% 83%) 61%,
      hsl(153deg 26% 85%) 79%,
      hsl(157deg 25% 87%) 91%,
      hsl(162deg 25% 90%) 97%,
      hsl(167deg 22% 92%) 101%,
      hsl(171deg 24% 94%) 102%,
      hsl(180deg 18% 97%) 101%,
      hsl(180deg 20% 99%) 100%
    );
    background-size: 150% 150%;
  }
  a {
    text-decoration: none;
    color: #444;
  }
  header > a {
    font-family: var(--accent-font);
    line-height: 1.1;
  }
  header > a > span {
    font-family: var(--base-font);
    font-weight: 300;
    font-size: var(--step--1);
  }
</style>
