<header>
  <a href="/">Vegan Home Cooking<br /><span>by Tiff & Laura</span></a>
  <nav>
    <a href="/#recipes">Recipes</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  a {
    text-decoration: none;
    color: #444;
  }
  header > a {
    font-family: var(--accent-font);
    line-height: 1.1;
  }
  header > a > span {
    font-family: var(--base-font);
    font-weight: 300;
    font-size: var(--step--1);
  }
</style>
