---
export interface Props {
  ingredients: any[];
}

const { ingredients } = Astro.props;
---

<ul>
  {
    ingredients.sort().map((ingredient) => (
      <li>
        <a href={`/ingredients/${ingredient}`}>{ingredient}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
  }

  a {
    text-decoration: 5px underline hsl(var(--primary-200));
    white-space: nowrap;
    padding: 0.25rem 0.75rem;
    font-weight: 700;
    font-size: 0.9rem;
    display: block;
  }
</style>
