---
export interface Props {
  tags: any[];
}

const { tags } = Astro.props;
---

<ul>
  {
    tags.sort().map((tag) => (
      <li>
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0;
  }

  a {
    color: #444;
    text-decoration: 5px underline hsl(var(--accent-200));
    white-space: nowrap;
    font-weight: 700;
    font-size: 0.9rem;
    display: block;
  }
</style>
