---
import "../styles/index.css";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Calistoga&family=Lato:ital,wght@0,300;0,700;1,300;1,700&family=Playfair+Display:wght@700&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main id="main" class="flow">
      <slot />
    </main>
  </body>
</html>
